.login-modala {
  border-left: 0;
  height: 61px;
  line-height: 61px;
  position: relative;
  float: right;
  box-sizing: border-box;
  font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  background-color: red
}

.login-modala:hover {
  cursor: pointer;
}
