.login-formaa {
  border: 5px solid blue;
  color: #fff;
  display: block;
  padding: 0 19px;
  background: transparent;
  box-sizing: border-box;
  line-height: 61px;
  font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
}

.login-buttona {
  padding: 20px 0;
  border-color: #ff5a5f;
  border-bottom-color: #e00007;
  background-color: #ff5a5f;
  color: #fff;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  font-weight: normal;
  display: block;
  white-space: normal;
  width: 100%;
  background: white;
  font-size: 16px;
  margin-bottom: 0;
  border-radius: 2px;
  border: 1px solid;
  text-align: center;
  vertical-align: middle;
  line-height: 1.43;
  -webkit-user-select: none;
  cursor: point;
  font-family: inherit;
  -webkit-font-smoothing: antialiased;
  -webkit-appearance: button;
  text-transform: none;
  margin: 0;
  box-sizing: border-box;
  align-items: flex-start;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-indent: 0px;
  text-shadow: none;
  font: 11px BlinkMacSystemFont;
  -webkit-writing-mode: horizontal-tb;
  box-sizing: border-box;
}

.login-forma {
  background-position: right -28px;
  height: 64px;
  font-size: 16px;
  box-sizing: border-box;
  display: block;
  padding: 10px 35px 10px 10px;
  width: 100% !important;
  background-size: 40px 171px;
  transition: border-color-0.2s;
  border: 1px solid #c4c4c4;
  border-radius: 2px;
  background-color: #fff;
  color: #565a5c;
  font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height: normal;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  -webkit-appearance: textfield;
  -webkit-rtl-ordering: logical;
  -webkit-user-select: text;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-align: start;
  font: 11px BlinkMacSystemFont;
  -webkit-writing-mode: horizontal-tb;
  cursor: auto;
  -webkit-rtl-ordering: logical;
  -webkit-user-select: text;
}
