.listing-index-div {
  width: 50%;
  float: left;
}
.listings-container {
  width: 67%;
}

.panel-image {
  padding-bottom: 67%;
  overflow: hidden;
  position: relative;
}

.image-div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #cacccd;
  text-align: center;

}

.listing-img-tall {
  height: 100%;
}

.listing-img-wide {
  height: 100%;
  width: 100%;

}
