
.detail-ul > li > p {
 margin-right: 20px;
}

#photos {
    height: 402px;
    position: relative;
    width: 100%;
    -webkit-transition: height .2s;
    -moz-transition: height .2s;
    -o-transition: height .2s;
    transition: height .2s;
  }

#photos.with-photos {
      height: 702px;
}

#photos.with-modal .cover-img {
    cursor: pointer;
}
  #photos .cover-img-container .cover-img {
      background-repeat: no-repeat;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-position: 50% 50%;
      background-color: #f5f5f5;
      height: 100%;
    }

.detail-img {
  max-width: 100%;
  height: 100%;
  margin-top: 10px;
}

.detail-div {
  margin-left: auto;
  margin-right: auto;
  margin-top: -20px;
  top: 47px;
  left: 0;
  bottom: 0;
  width: 67%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  background: lightblue;

}

.detail-img-div {
  height: 400px;
  text-align: center;
  background-color: lightblue;
}

.detail-inner-div {
  margin-left: 10px;
  display: flex;
  flex-wrap: wrap;
}

.detail-hr {
  margin-left: 10px;
  margin-right: 10px;
  border-top: 1px solid rgba(70, 177, 212, 1);
}

.detail-title {
  margin-left: 10px;
}

.detail-ul {
  padding-left: 0px;
  width: 55%
}
.detail-ul > li {
  display: block;
}
