.listing:hover {
  opacity: 0.7;
  transition: opacity .2s;
}

.alert-info {
  max-width: 350px;
  margin-top: 10px;
}

.listing-img {
    overflow: hidden;
    padding-bottom: 67%;
}

.outer-listings-container {
  padding: 0 20px;

}

.panel-body {
    position: relative;
}

.panel-card-section {
    padding: 10px;
}

.panel-image {
  position: relative;
}

.panel-image {
    position: relative;
}

.listing-img .media-photo.media-cover {
    z-index: 0;
    -webkit-backface-visibility: visible;
    -moz-backface-visibility: visible;
    backface-visibility: visible;
}

.media-cover, .media-cover-dark:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.media-photo {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    overflow: hidden;
    background-color: #cacccd;
}

.listing-img-container {
    z-index: 1;
}

.media-cover, .media-cover-dark:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.text-center {
    text-align: center;
}


.img-responsive-height {
    width: auto;
    height: 100%;
}

img {
    vertical-align: middle;
}

img {
    border: 0;
}
