.half {
  width: 500px;
  height: 500px;
  float: left;
  position: relative;
}

.map {
  top: 52px;
  display: block;
  width: 40%;
  position: fixed;
  right: 0;
  left: auto;
  bottom: 0;
}

.map-detail {
  display: block;
  width: 45%;
  position: relative;
  right: 10px;
  left: auto;
  bottom: 10px;
}

.map-canvas {
  height: 100%;
  width: 100%;
}

.map-canvas-detail {
  height: 400px;
  width: 100%;
}

.map-detail2 {
  height: 100%;
  width: 100%;
  display: block;
  // width: 45%;
  // position: relative;
  // right: 10px;
  // left: auto;
  // bottom: 10px;
}

.map-canvas2 {
  height: 400px;
  width: 400px;
}

.map-canvas-detail2 {
  height: 400px;
  width: 100%;
}
.agm_google_maps,
.agm_google_maps > div {
       width: 812px !important;
}
