.smaller-hr {
  margin: 10px 0px;
}

.login-text {
  color: #565A5C;
}

.login-li {
  display: inline-block;
}

.btn-login-form-login {
  width: 100%;
  margin: 10px 5px 0px 0px;
  background-color: #5cb85c;
  border-color: #4cae4c;
  display: block
}

.btn-login-form.btn-outline {
    color: #000;
    border: 1px solid rgba(186, 186, 186, 1.0);
    margin-right: 5px;
    margin-left: 5px;
    display: block

}

.btn-login-form.btn-outline:hover{
  color: #fff;
  background-color: rgba(255, 127, 80, 1.0);
}
