<!DOCTYPE html>
<html>
<head>
  <title>FoodEater</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

</head>
<%= yield %>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBaSqtGhOYLfBxVpptOOX6rq2yJM65ylZo"></script>

</body>
</html>
